@import url(https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&family=Sarpanch&display=swap);

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', 'Orbitron', 'Sarpanch';
    letter-spacing: 3.5px;
}

/* --------- heading */

h1 {
    text-align: center;
    color: #00ff00;
    font-size: 2.5rem;
    height: 40%;
}

/* --------- goal image */
img {
    width: 100%;
}

/* --------- icons */

/* --------- choices section*/
.selection {
    font-size: 3rem;
    background: none;
    border: none;
    transition: 100ms;
    color: #ffffff;
}

.selection:hover {
    transform: scale(1.5);
}


/* --------- score */
#scoreboard {
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 1rem;
}

#your-score, #gk-score {
    color: #00ff00;
    font-size: 2rem;
}


/* --------- results */
h3 {
    font-size: 1rem;
}

#result {
    color: #00ff00;
    font-size: 2rem;
    text-align: center;
}