@import url(https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&family=Sarpanch&display=swap);

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', 'Orbitron', 'Sarpanch';
    letter-spacing: 3.5px;
}

/* --------- heading */

h1 {
    text-align: center;
    color: #00ff00;
    font-size: 3rem;
    height: 40%;
}

/* --------- goal image */
img {
    width: 100%;
}

/* --------- icons */
i {
    color: #00ff00;
    font-size: 5rem;
}

/* --------- choices section*/
.choices {
    display: flex;
    justify-content: center;
}

/* --------- selection options */
.selection {
    background: none;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 10rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.5);
}